######################
# Package files
######################
*.jar

######################
# Gradle
######################
.gradle/**
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

######################
# IntelliJ
######################
.idea/**
*.iml
*.ipr
*.iws

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# Mac OSX
######################
*.DS_Store

######################
# Analytics
######################
*.tap
*.trace

######################
# Others
######################
*.*~
*~
.merge_file*
*.log

######################
# Directories
######################
/build/**
/out/**